.content{
	text-align: center;
}
table{
	margin: 2em auto;
}
form{
  margin: -1.5em 0 0 0;
}
.title{
	font-size: 2em;
	white-space: nowrap;
  position: relative;
  padding-left: 25px;
}
.title:before {
  position: absolute;
  content: '';
  bottom: 3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.title:after {
  position: absolute;
  content: '';
  bottom: 3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}
.nowPrice{
  font-size: 1.5em;
}
input[type="text"]{
	font-size: 30px;
	width: 2em;
  text-align: right;
  border-style: none;
}
.up{
	display: block;
  text-decoration: none;
  height:50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #77b4fd;
  background: #fff;
  border: solid 1px #77b4fd;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.bigup{
	display: block;
	position: relative;
	text-decoration: none;
	height: 60px;
	width: 60px;
	line-height: 60px;
  text-align: center;
  color: #fff;
  background: #77b4fd;
 	border: dashed 1px #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #77b4fd;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.down{
	display: block;
  	text-decoration: none;
  	height:50px;
  	width: 50px;
  	line-height: 50px;
  	text-align: center;
  	color: #cd5c5c;
  	background: #fff;
  	border: solid 1px #cd5c5c;
  	border-radius: 50%;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	-o-transition: 0.3s;
  	-ms-transition: 0.3s;
  	transition: 0.3s;
}
.bigdown{
	display: block;
	position: relative;
	text-decoration: none;
	height: 60px;
	width: 60px;
	line-height: 60px;
  	text-align: center;
  	color: #fff;
  	background: #cd5c5c;
 	border: dashed 1px #fff;
  	border-radius: 50%;
  	box-shadow: 0 0 0 2px #cd5c5c;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	-o-transition: 0.3s;
  	-ms-transition: 0.3s;
  	transition: 0.3s;
}
.upBtn li{
	list-style: none;
	float: left;
	margin: 0 4em 0 -2em;
}
.downBtn li{
	list-style: none;
	float: left;
	margin: 0 4em 0 -2em;
}
.btn{
	position: relative;
	margin: 2em 0 0 0;
	overflow: hidden;
}
.btn ul{
	position: relative;
	left: 50%;
	float: left;
}
.btn ul li{
	position: relative;
	left: -57%;
	margin: 0 3em;
	float: left;
	list-style: none;
}
#changeBtn{
	display: inline-block;
	height: 5em;
	width: 10.5em;
  font-size: 1.3em;
  line-height: 37px;
 	color: #fff;
 	background-color: #20b2aa;
 	border:solid 1px #20b2aa;
 	-webkit-transition: 0.3s;
 	-moz-transition: 0.3s;
 	-o-transition: 0.3s;
 	-ms-transition: 0.3s;
 	transition: 0.3s;
}
#clearBtn{
	display: inline-block;
  height:5em;
	width: 10.5em;
  font-size: 1.3em;
  line-height: 37px;
 	color: #20b2aa;
 	background-color: #fff;
 	border:solid 1px #20b2aa;
 	-webkit-transition: 0.3s;
 	-moz-transition: 0.3s;
 	-o-transition: 0.3s;
 	-ms-transition: 0.3s;
 	transition: 0.3s;
}